aws_region = "eu-west-1"
vpc_name   = "dev-vpc"
vpc_cidr   = "10.0.0.0/16"
azs = [
  "eu-west-1a",
  "eu-west-1b",
  "eu-west-1c"
]
public_subnets = [
  "10.0.1.0/24",
  "10.0.2.0/24",
  "10.0.3.0/24"
]
private_subnets = [
  "10.0.101.0/24",
  "10.0.102.0/24",
  "10.0.103.0/24"
]


tags = {
  "kubernetes.io/cluster/dev-eks-cluster" = "shared"
  Environment                             = "dev"
  Project                                 = "eks"
}



cluster_name    = "dev-eks-cluster"
cluster_version = "1.30"
node_groups = {
  default = {
    desired_size   = 1
    max_size       = 2
    min_size       = 1
    instance_types = ["t3.medium"]
  }
}
cluster_endpoint_public_access       = true
cluster_endpoint_private_access      = true
cluster_endpoint_public_access_cidrs = ["0.0.0.0/0"]   # use your restricted cidr in prod


# enable based on need
enable_ingress_nginx         = true
enable_cert_manager          = true
enable_metrics_server        = false
enable_karpenter             = false
enable_kube_prometheus_stack = false
